# Server Configuration
PORT=4001

# Database
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/<database_name>

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_CLOUD_API=your_api_key
CLOUDINARY_CLOUD_SECRET=your_api_secret

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h
